body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding: 0;
}

/* app.jsx */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 200px;
}

.container {
  background-color: skyblue;
  border-radius: 40px;
  padding: 40px;
  width: 700px;
}

/* addTodo */

form {
  display: flex;
  height: 40px;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
}

.add {
  border-radius: 0 5px 5px 0;
  border: 1px solid lightgray;
  background-color: lightgray;
  color: white;
  width: 70px;
  font-size: 16px;
}

/* todo list  */
li {
  background-color: white;
  border-radius: 10px;
  margin: 15px 0;
  padding: 15px;
  flex-direction: row;
  align-items: center;
  display: grid;
  grid-template-columns: 10% 65% 25%;
}

.change {
  height: 40px;
  background-color: pink;
  color: white;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  width: 70px;
}

.remove {
  height: 40px;
  margin-left: 10px;
  background-color: sandybrown;
  color: white;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  width: 80px;
}